body {
  margin: 0;
  padding: 0;
  user-select: none;
  background-color: rgb(15, 15, 15);
}

button:focus,
button:active, 
section:focus,
section:active {
  outline: none;
}

.carousel {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 80vw;
  height: 70vh;
  margin: auto;
  background: radial-gradient(55% 110%, rgb(251, 242, 235), rgb(53, 42, 59));
  box-shadow: 0 0 10px 5px rgba(53, 42, 59, 1);
}

.carousel:focus {
  cursor: grabbing;
}
